In [1]:
import pandas as pd
import numpy as np

In [2]:
#----- server event ---------
server_event = pd.read_csv('server_event.csv',header=None)
column_names = ['timestamp','machine_id','event_type','event_detail','capacity:CPU','capacity:memory','capacity:disk']
server_event.columns = column_names

#----- server usage ---------
server_usage = pd.read_csv('server_usage.csv',header=None)
column_names = ["timestamp", "machineID", "util:CPU", "util:memory", "util:disk", "load1", "load5", "load15"]
server_usage.columns = column_names

#----- container event ---------
container_event =pd.read_csv('container_event.csv',header=None)
column_names = ['timestamp', 'event', 'instance_id', 'machine_id', 'plan_cpu', 'plan_mem', 'plan_disk', 'cpuset', 'unknown']
container_event.columns = column_names
container_event = container_event.drop(columns=['unknown'], axis=1)

#----- container usage ---------
container_usage = pd.read_csv('container_usage.csv',header=None)
column_names = ['timestamp', 'instance_id', 'cpu_util', 'mem_util', 'disk_util', 'load1', 'load5', 'load15', 'avg_cpi', 'avg_mpki', 'max_cpi', 'max_mpki']
container_usage.columns = column_names

In [3]:
server_event

,timestamp,machine_id,event_type,event_detail,capacity:CPU,capacity:memory,capacity:disk
0,0,1148,add,NaN,64,0.690006,1.0
1,0,1149,add,NaN,64,0.690006,1.0
2,0,1150,add,NaN,64,0.690006,1.0
3,0,1,add,NaN,64,0.689970,1.0
4,0,2,add,NaN,64,0.689970,1.0
...,...,...,...,...,...,...,...
1347,74682,1075,softerror,agent_check,0,0.000000,0.0
1348,81179,930,softerror,machine_fail,0,0.000000,0.0
1349,75268,372,softerror,agent_check,0,0.000000,0.0
1350,82706,372,softerror,agent_check,0,0.000000,0.0
1351,82122,1075,softerror,agent_check,0,0.000000,0.0

In [4]:
server_usage

,timestamp,machineID,util:CPU,util:memory,util:disk,load1,load5,load15
0,41700,237,23.38,30.080000,42.200001,15.82,13.860000,12.64
1,39600,265,26.36,29.540000,57.599998,17.46,18.900000,16.70
2,42600,770,49.14,60.099999,41.860001,33.20,31.220000,30.52
3,40800,776,33.24,47.520000,43.599998,21.84,22.100000,24.02
4,42900,393,45.72,58.720000,42.000000,34.10,36.239999,36.92
...,...,...,...,...,...,...,...,...
187958,81900,588,7.20,33.899999,66.400002,5.08,4.760000,2.74
187959,79800,732,14.74,33.519999,57.639999,9.56,11.420000,14.16
187960,79200,105,11.00,32.579999,41.599998,6.52,6.340000,6.50
187961,81900,486,2.30,17.380000,40.000000,1.32,2.060000,3.36
187962,80700,199,20.54,51.280001,39.900002,14.94,13.940000,16.00

In [5]:
# 计算 "util:CPU" 列的最大和最小值
max_util_cpu = server_usage['util:CPU'].max()
min_util_cpu = server_usage['util:CPU'].min()

print("最大util:CPU值:", max_util_cpu)
print("最小util:CPU值:", min_util_cpu)

最大util:CPU值: 89.71999969482
最小util:CPU值: 0.5

In [7]:
#Intel Xeon E3-1230 V2 Power Consumption
min_power = 34
max_power = 94

slope = (max_power - min_power) / (max_util_cpu - min_util_cpu)
Intercept = min_power

print("Slope:", slope)
print("Intercept:", Intercept)

Slope: 0.6724949585881194
Intercept: 34